.body-container {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


button {
    cursor: pointer;
}


/*search*/
.search-form {
    margin: 1%;
    padding: 1%;
    background-color: darkblue;
}


#carouselExampleIndicators {
    alignment: center;
    overflow: hidden;
}


.carousel-item {
    overflow: hidden;
}


.img-fluid {
    max-width: 100%;
    width: 100%;
}


.slick-next:before, .slick-prev:before {
    color: black !important;
}


#topUsers {
    background-color: orchid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


form.search-form-main {
    background: rgba(0, 0, 0, .5);
    margin-top: -175px;
    margin-bottom: 100px;
    position: relative;
    padding: 20px;
}


.pop-stylists{
    background: rgba(0, 0, 0, .5);
    /*background-color: thistle;*/
    border-radius: 8px;
}


.pop-salons{
    background: rgba(0, 0, 0, .5);
    /*background-color: thistle;*/
    border-radius: 8px;
}


.error {
    color: red;
}


.bg {
    /* The image used */
    background-image: url("../images/salon.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.left {
    float: left;
}


.search {
    /*background-position: center;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/themes.jpg") ;
    border-radius: 8px;
}


.cards {
    background-color: seashell;
    /*background-image:url("../images/themes.jpg") ;*/
    /*border-radius: 6px;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}


.advancedSearch {
    float: right;
    position: fixed;

    /*padding-bottom:220px;*/
}

.top-salons{
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-image:url("../images/salons.jpg") ;
}

.top-stylists{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("../images/stylist.jpg") ;
}